// Core corlor pallete
$background-primary: #ffffff; 
$text-color: #00171f; 
$header-color: #003459; 
$subheader-color: #007ea7; 
$icon-grey-color: #EAEEEF;
$base-border-color: #EDE8F2;
$main--dark-blue: #1a222c;

// Secondary color palette
$blue: #2d63a8;
$purple: #BA85FF;
$white: #fff;
$black: #050401;
$grey--dark: #050401;
$grey--light: #EDE8F2;
$white-dark: #fcf8fb;
$orange: #FF593F;
$yellow: #FFD452;
$green: #45b359;
$white: #ffffff;
$secondary-background-color: $grey--light;


// Headeris
$main: #1a222c;
$sec: #4B5664;
$purple: #54516A;
$cut: 768px;

// Apie
$apie--h2text: #345;

