
/* Webfont: Lato-Light */
@font-face {
  font-family: 'LatoLight';
  src: url('../../../fonts/LatoLight/LatoLight.eot'); /* IE9 Compat Modes */
  src: url('../../../fonts/LatoLight/LatoLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../fonts/LatoLight/LatoLight.woff2') format('woff2'), /* Modern Browsers */
       url('../../../fonts/LatoLight/LatoLight.woff') format('woff'), /* Modern Browsers */
       url('../../../fonts/LatoLight/LatoLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* Webfont: LatoRegular */
@font-face {
  font-family: 'LatoRegular';
  src: url('../../../fonts/LatoRegular/LatoRegular.eot'); /* IE9 Compat Modes */
  src: url('../../../fonts/LatoRegular/LatoRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../fonts/LatoRegular/LatoRegular.woff2') format('woff2'), /* Modern Browsers */
       url('../../../fonts/LatoRegular/LatoRegular.woff') format('woff'), /* Modern Browsers */
       url('../../../fonts/LatoRegular/LatoRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: LatoBlack */
@font-face {
  font-family: 'LatoBlack';
  src: url('../../../fonts/LatoBlack/LatoBlack.eot'); /* IE9 Compat Modes */
  src: url('../../../fonts/LatoBlack/LatoBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../fonts/LatoBlack/LatoBlack.woff2') format('woff2'), /* Modern Browsers */
       url('../../../fonts/LatoBlack/LatoBlack.woff') format('woff'), /* Modern Browsers */
       url('../../../fonts/LatoBlack/LatoBlack.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Thin */
@font-face {
  font-family: 'Lato-Thin';
  src: url('../../../fonts/LatoThin/LatoThin.eot'); /* IE9 Compat Modes */
  src: url('../../../fonts/LatoThin/LatoThin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../fonts/LatoThin/LatoThin.woff2') format('woff2'), /* Modern Browsers */
       url('../../../fonts/LatoThin/LatoThin.woff') format('woff'), /* Modern Browsers */
       url('../../../fonts/LatoThin/LatoThin.ttf') format('truetype');
  font-style: 300;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Thin */
@font-face {
  font-family: 'LatoWebThin';
  src: url('../../../fonts/Lato-Thin/Lato-Thin.eot'); /* IE9 Compat Modes */
  src: url('../../../fonts/Lato-Thin/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../fonts/Lato-Thin/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
       url('../../../fonts/Lato-Thin/Lato-Thin.woff') format('woff'), /* Modern Browsers */
       url('../../../fonts/Lato-Thin/Lato-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
