<link rel="stylesheet" href="/maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="intro"></div>
<!-- ankeris -->
<div class="container">

    <!-- TRUMPAI APIE SAVE -->
    <div id="about-trumpai" class="title">
        <h2 class="section-title">
            <span><i class="fa fa-user"></i>TRUMPAI APIE SAVE</span>
        </h2>
    </div>

    <div id="about-intro">
        <div class="intro">
            <h2>
                Sveiki! Mėgstu
                <br class="break0" />
                <span class="pushEffect">
                    <span>programuoti.</span>
                    <span>java.</span>
                    <span>kurti svetaines.</span>
                    <span>HTML ir CSS.</span>
                    <span>mokintis.</span>
                </span>
                <br> Aš gyvenu Vilniuje, tačiau esu kilęs iš Šilutės.
                <br class="break-1" /> Nuolatos ieškau naujų projektų kuriuos galėčiau įgyvendinti,
                <br class="nobreak"> bei naujų įdomių patirčių, kurias galėčiau patalpinti savo resume.
            </h2>
        </div>
    </div>

    <!-- Pomegiai -->
    <div id="about-pomegiai">
        <div id="about-trumpai" class="title">
            <h2 class="section-title">
                <span>
                    <i class="fa fa-star-o"></i>POMĖGIAI</span>
            </h2>
        </div>
    </div>
    <div class="pomegiai">
        <div class="inner-wrapper">
            <div class="item-1">
                <img class="pkt" src="assets/img/about/html-icon.png" alt="html">
                <h4>WEB KŪRIMAS</h4>
                <p>Mėgstu front end'ą, tačiau galvoju gilintis ir back end'o srityje. Manyčiau full-stack programuotojo galimybės
                    perspektyvesnės!
                </p>
            </div>
            <div class="item-2">
                <img class="pkt" src="assets/img/about/code.png" alt="code">
                <h4>PROGRAMAVIMAS</h4>
                <p>Mėgstu Web svetainių kurimą, tačiau mano meilė objektinis programavima su Java. Ši sritis man vis dar įdomi,
                    bei neketinu jos apleisti!</p>
            </div>
            <div class="item-3">
                <img class="pkt" src="assets/img/about/learning.png" alt="mokymasis">
                <h4>NUOLATINIS MOKYMASIS</h4>
                <p>Neseniai baigiau programavimo bakalauro studijas, vadinasi dabar turiu dagiau laiko daryti dalykus kurie
                    man patinka: programavimo kursai "side" projektai, bei žinoma pirmenybė - pradėti dirbti IT srityje!</p>
            </div>
            <div class="item-4">
                <img class="pkt" src="assets/img/about/podcast.png" alt="podcast">
                <h4>PODCASTA'I</h4>
                <p>Kadangi daug keliauju - tai radau nuostabų būdą kelionės laiką pagreitinti, bei įgyti naujų patirčių klausydamasis
                    Web kūrimo ir programavimo specialistų podcast'ų. Nuostabus dalykas!</p>
            </div>
        </div>
    </div>

    <!-- Faktai -->
    <div id="about-faktai">
        <h2 class="section-title">
            <span>
                <i class="fa fa-user"></i>FAKTAI APIE MANE</span>
        </h2>
    </div>
    <div class="faktai">
        <div class="inner-wrapper">
            <div class="i-box f-item-1">
                <img src="assets/img/about/earth.png" alt="world">
                <h4>Gyvenau ir dirbau 3 europos šalyse.
                </h4>
            </div>
            <div class="i-box f-item-2">
                <img src="assets/img/about/run.png" alt="run">
                <h4>Klausau spotify ir mėgstu bėgioti vingio parke.
                </h4>
            </div>
            <div class="i-box f-item-3">
                <img src="assets/img/about/coffe.png" alt="coffee">
                <h4>Be kavos puodelio darbo diena neprasideda!</h4>
            </div>
        </div>

    </div>
</div>
<div class="anker"></div>
<a class="up" href="#up-to-top" data-scroll>
    <i class="icon fa fa-chevron-up" aria-hidden="true"></i>
</a>