<head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.data.settings.seo.description }}">
    <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
    <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">

    <title>{{ site.data.settings.title }}</title>
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/all.css">

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.github.url }}/assets/css/3-sections/resume.scss">

    <!-- External CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
