/* ===================================================

	about.scss : "apie" skyrelis
	projektas : Mano portfolio svertaine
	version : 1
	autorius : Ramunas Nognys

	---

	Turinys:

	1. BASE
  2. TRUMPAI APIE SAVE
    2.1 PRISISTATYMO HEADERIS
    2.2 PRISISTATYMO TURINYS
  3. POMĖGIAI
    3.1 POMEGIAI TURINYS
  4. FAKTAI
  5. MEDIA QUERIES (tablet + smartphone)
  6. PUSH ANIMATE


  =================================================== */

  /*  --------------------------------------------

	1. BASE - pagrindiniai "APIE" skyriaus stiliaus elementai

    -------------------------------------------- */
.grid {
  display: grid;
 }

.container {
  padding: 4em 1em;
  font-size: 1em;
  line-height: 1.6;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  font-family: $secondary-font;
 }

//  Antraščių (titulinių) stilius
 h2 {
  i.fa {
    font-size: 20px;
    margin-right: 16px;
    line-height: 30px;
    text-align: center;
    color: #B7C6C9;
    background: #fff;
    border-radius: 50%;
    border: 4px solid #dde4e6;
    display: inline-block;
    width: 58px;
  }
}

 /*  --------------------------------------------

	2. TRUMPAI APIE SAVE - prisitstatymo styliaus elementai

    -------------------------------------------- */

#about-trumpai {
  grid-column: 2 / 4;
  grid-row: 1;
  padding: $title-gutter;
}

  /* -----  1.1 PRISISTATYMO HEADERIS (su linija) ----- */
  .section-title {
    font-family: LatoLight;
    position: relative;
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: 400;
  }
  .section-title:before {
    content: "";
    position:absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-bottom: 4px solid #EAEEEF;
  }
  .section-title span {
    position:relative;
    display: inline-block;
    padding-right: 1.4em;
    background: #fff;
  }


/* ----   1.2 PRISISTATYMO TURINYS (about-intro)    ---- */
#about-intro {
  grid-column: 2 / 3;
    h2 {
      color: $grey--dark;
      font-family: LatoLight;
      .break0 {
        display: none;
      }
      .nobreak {
        display: inline;
      }
    }

      span {
        display: inline;
        font-family: "LatoBlack";
      }
  }

  .intro {
    text-align: center;
    padding: 0 0 1em 0;
   }
    .intro h2 {
      font-size: 2.0em;
      font-weight: 300;
      line-height: 1.4;
    }

 /* PUSH WORDS animation */
    .pushEffect {
      display: inline-block;
      min-width: 180px;
      min-height: 74px;
      text-align: left;
      text-indent: 4px;
    }
    .pushEffect span {
      font-family: "LatoBlack";
      position: absolute;
      opacity: 0;
      font-weight: bold;
      letter-spacing: -2px;
   }//PUSH pabaiga


   /*  --------------------------------------------

	3. POMEGIAI - pomegių styliaus elementai

    -------------------------------------------- */

#about-pomegiai {
  grid-column: 2 / 4;
  grid-row: auto;
  padding: $title-gutter;
  font-family: LatoLight;
 }

.pkt {
  padding: 20px;
}

/* ----    3.1 POMEGIU TURINYS    ----*/

.pomegiai {
  grid-column: 2 / 3;
  grid-row: auto;
  display: inline-flex;
  text-align: center;
  font-family: LatoLight;
  .inner-wrapper {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  @media screen and (max-width: 991px) {
     .inner-wrapper {
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

  .inner-wrapper h4{
    color: $header-color;
    font-family: "LatoBlack";
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .inner-wrapper p {
    padding: 0 15px;
  }
}

 /*  --------------------------------------------

	4. FAKTai - faktų styliaus elementai

    -------------------------------------------- */


    #about-faktai {
     grid-column: 2 / 4;
     grid-row: auto;
     padding: $title-gutter;
     padding-bottom: 30px;
     h2 {
        font-size: 1em;
        vertical-align: baseline;
     }
  }

  .fa {
     font-size: 32px;
     padding: 10px;
     color: $icon-grey-color;
  }

  .title:after {
      content: "";
      position: relative;
      top: 50%;
      left: 10px;
      width: 800px;
      border-bottom: 4px solid $icon-grey-color;;
  }

 .faktai {
   display: grid;
    grid-column: 2 / 3;
    grid-row: auto;
    display: inline;
    text-align: center;
    margin: 0;
    padding: 0;
    .inner-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: auto;
        grid-gap: 20px;

       .f-item-1, .f-item-2, .f-item-3 {
         display: inline-flex;
         padding: 10px auto;
         margin-right: 10px;

         }
         h4 {
             font-family: "LatoWebThin";
             color: $header-color;
             font-size: 26px;
             margin-left: 15px;
             text-align: left;
             text-transform: uppercase;
         }

         img {
             width: 64px;
             height: 64px;
         }
       }
 }

/*  --------------------------------------------

	5.   MEDIA QUERIES (tablet + smartphone)

    -------------------------------------------- */

 /* TABLETS */

 @media screen and (max-width: 991px) {
  .container {
      grid-template-columns: 1fr;
      margin: 0 10px;
      #about-trumpai {
          grid-column: 1 / 5;
          grid-row: 1;
          padding: $title-gutter;
      }

      #about-intro {
          h2 {
              font-size: 30px;
             }
          font-size: 22px;
          grid-column: 1 / 5;
          margin: 32px 0;
          span {
              display: inline;
              font-family: "LatoBlack";
          }
          span.pushEffect {
              min-height: 34px;
          }
          .pushEffect {
              min-width: 280px;
              text-align: left;
          }
      }
  }
}


/* SMARTPHONES */

@media screen and (max-width: 767px) {
  .container {
      padding: 1em 1em !important;

      #about-intro {
          position: relative;
          grid-column: 1 / 5;
          margin: 10px 0;
          h2 {
              font-size: 28px;
              .break0 { display: inline; }
              .nobreak { display: none;  }
          }
          span {
              margin-left: -45px;
          }
      } //Pomegiai

      #about-pomegiai {
          grid-column: 1 / 4;
          padding: 0 10px;
      }

      .section-title {
          margin-bottom: 0;
      }

      .pomegiai {
          grid-column: 1 / 4;
           margin: 0;
          .inner-wrapper h4 {
              font-size: 22px;
          }
          .inner-wrapper p {
              font-size: 22px;
              margin-bottom: 40px;
          }
      }

      //Faktai
      #about-faktai {
          grid-column: 1 / 4;
          padding: 10px 0;
      }
      .faktai {
          grid-column: 1 / 4;
          .inner-wrapper {
              display: block;
              .f-item-1,
              .f-item-2,
              .f-item-3 {
                  margin: 20px auto;
              }
          }
      }
  }
}


/*  --------------------------------------------

	6.  PUSH ANIMATE

    -------------------------------------------- */

.slidingVertical span{
  animation: topToBottom 12.5s linear infinite 0s;
  -ms-animation: topToBottom 12.5s linear infinite 0s;
  -webkit-animation: topToBottom 12.5s linear infinite 0s;
  color: #00abe9;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.slidingVertical span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: translateY(-50px); }
  10% { opacity: 1; -moz-transform: translateY(0px); }
  25% { opacity: 1; -moz-transform: translateY(0px); }
  30% { opacity: 0; -moz-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform: translateY(-50px); }
  10% { opacity: 1; -webkit-transform: translateY(0px); }
  25% { opacity: 1; -webkit-transform: translateY(0px); }
  30% { opacity: 0; -webkit-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: translateY(-50px); }
  10% { opacity: 1; -ms-transform: translateY(0px); }
  25% { opacity: 1; -ms-transform: translateY(0px); }
  30% { opacity: 0; -ms-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

/*Horizontal Sliding*/
.slidingHorizontal{
  display: inline;
  text-indent: 8px;
}
.slidingHorizontal span{
  animation: leftToRight 12.5s linear infinite 0s;
  -ms-animation: leftToRight 12.5s linear infinite 0s;
  -webkit-animation: leftToRight 12.5s linear infinite 0s;
  color: #00abe9;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.slidingHorizontal span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.slidingHorizontal span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.slidingHorizontal span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.slidingHorizontal span:nth-child(5){
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

/*leftToRight Animation*/
@-moz-keyframes leftToRight{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: translateX(-50px); }
  10% { opacity: 1; -moz-transform: translateX(0px); }
  25% { opacity: 1; -moz-transform: translateX(0px); }
  30% { opacity: 0; -moz-transform: translateX(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-webkit-keyframes leftToRight{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform: translateX(-50px); }
  10% { opacity: 1; -webkit-transform: translateX(0px); }
  25% { opacity: 1; -webkit-transform: translateX(0px); }
  30% { opacity: 0; -webkit-transform: translateX(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes leftToRight{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: translateX(-50px); }
  10% { opacity: 1; -ms-transform: translateX(0px); }
  25% { opacity: 1; -ms-transform: translateX(0px); }
  30% { opacity: 0; -ms-transform: translateX(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

/*FadeIn*/
.fadeIn{
  display: inline;
  text-indent: 8px;
}
.fadeIn span{
  animation: fadeEffect 12.5s linear infinite 0s;
  -ms-animation: fadeEffect 12.5s linear infinite 0s;
  -webkit-animation: fadeEffect 12.5s linear infinite 0s;
  color: #00abe9;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.fadeIn span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.fadeIn span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.fadeIn span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.fadeIn span:nth-child(5){
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

/*FadeIn Animation*/
@-moz-keyframes fadeEffect{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: translateY(0px); }
  10% { opacity: 1; -moz-transform: translateY(0px); }
  25% { opacity: 1; -moz-transform: translateY(0px); }
  30% { opacity: 0; -moz-transform: translateY(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-webkit-keyframes fadeEffect{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform: translateY(0px); }
  10% { opacity: 1; -webkit-transform: translateY(0px); }
  25% { opacity: 1; -webkit-transform: translateY(0px); }
  30% { opacity: 0; -webkit-transform: translateY(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes fadeEffect{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: translateY(0px); }
  10% { opacity: 1; -ms-transform: translateY(0px); }
  25% { opacity: 1; -ms-transform: translateY(0px); }
  30% { opacity: 0; -ms-transform: translateY(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

/*Vertical Flip*/
.verticalFlip{
  display: inline;
  text-indent: 8px;
}
.verticalFlip span{
  animation: vertical 12.5s linear infinite 0s;
  -ms-animation: vertical 12.5s linear infinite 0s;
  -webkit-animation: vertical 12.5s linear infinite 0s;
  color: #00abe9;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.verticalFlip span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.verticalFlip span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.verticalFlip span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.verticalFlip span:nth-child(5){
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

/*Vertical Flip Animation*/
@-moz-keyframes vertical{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: rotateX(180deg); }
  10% { opacity: 1; -moz-transform: translateY(0px); }
  25% { opacity: 1; -moz-transform: translateY(0px); }
  30% { opacity: 0; -moz-transform: translateY(0px); }
  80% { opacity: 0; }
  100% { opacity: 0;}
}
@-webkit-keyframes vertical{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform: rotateX(180deg); }
  10% { opacity: 1; -webkit-transform: translateY(0px); }
  25% { opacity: 1; -webkit-transform: translateY(0px); }
  30% { opacity: 0; -webkit-transform: translateY(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes vertical{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: rotateX(180deg); }
  10% { opacity: 1; -ms-transform: translateY(0px); }
  25% { opacity: 1; -ms-transform: translateY(0px); }
  30% { opacity: 0; -ms-transform: translateY(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

/*Horizontal Flip*/
.horizontalFlip{
  display: inline;
  text-indent: 8px;
}
.horizontalFlip span{
  animation: horizontal 12.5s linear infinite 0s;
  -ms-animation: horizontal 12.5s linear infinite 0s;
  -webkit-animation: horizontal 12.5s linear infinite 0s;
  color: #00abe9;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.horizontalFlip span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.horizontalFlip span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.horizontalFlip span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.horizontalFlip span:nth-child(5){
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

/*Horizontal Flip Animation*/
@-moz-keyframes horizontal{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: rotateY(180deg); }
  10% { opacity: 1; -moz-transform: translateX(0px); }
  25% { opacity: 1; -moz-transform: translateX(0px); }
  30% { opacity: 0; -moz-transform: translateX(0px); }
  80% { opacity: 0; }
  100% { opacity: 0;}
}
@-webkit-keyframes horizontal{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform: rotateY(180deg); }
  10% { opacity: 1; -webkit-transform: translateX(0px); }
  25% { opacity: 1; -webkit-transform: translateX(0px); }
  30% { opacity: 0; -webkit-transform: translateX(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes horizontal{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: rotateY(180deg); }
  10% { opacity: 1; -ms-transform: translateX(0px); }
  25% { opacity: 1; -ms-transform: translateX(0px); }
  30% { opacity: 0; -ms-transform: translateX(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

/*AntiClockWise Effect*/
.antiClock{
  display: inline;
  text-indent: 8px;
}
.antiClock span{
  animation: anti 12.5s linear infinite 0s;
  -ms-animation: anti 12.5s linear infinite 0s;
  -webkit-animation: anti 12.5s linear infinite 0s;
  color: #00abe9;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.antiClock span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.antiClock span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.antiClock span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.antiClock span:nth-child(5){
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

/*AntiClockWise Effect Animation*/
@-moz-keyframes anti{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: rotateX(180deg); }
  10% { opacity: 1; -moz-transform: translateY(0px); }
  25% { opacity: 1; -moz-transform: translateY(0px); }
  30% { opacity: 0; -moz-transform: translateY(0px); }
  80% { opacity: 0; }
  100% { opacity: 0;}
}
@-webkit-keyframes anti{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform: rotate(180deg); }
  10% { opacity: 1; -webkit-transform: translateY(0px); }
  25% { opacity: 1; -webkit-transform: translateY(0px); }
  30% { opacity: 0; -webkit-transform: translateY(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes anti{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: rotate(180deg); }
  10% { opacity: 1; -ms-transform: translateY(0px); }
  25% { opacity: 1; -ms-transform: translateY(0px); }
  30% { opacity: 0; -ms-transform: translateY(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

/*ClockWise Effect*/
.clockWise{
  display: inline;
  text-indent: 8px;
}
.clockWise span{
  animation: clock 12.5s linear infinite 0s;
  -ms-animation: clock 12.5s linear infinite 0s;
  -webkit-animation: clock 12.5s linear infinite 0s;
  color: #00abe9;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.clockWise span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.clockWise span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.clockWise span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.clockWise span:nth-child(5){
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

/*ClockWise Effect Animation*/
@-moz-keyframes clock{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: rotate(-180deg); }
  10% { opacity: 1; -moz-transform: translateX(0px); }
  25% { opacity: 1; -moz-transform: translateX(0px); }
  30% { opacity: 0; -moz-transform: translateX(0px); }
  80% { opacity: 0; }
  100% { opacity: 0;}
}
@-webkit-keyframes clock{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform: rotate(-180deg); }
  10% { opacity: 1; -webkit-transform: translateX(0px); }
  25% { opacity: 1; -webkit-transform: translateX(0px); }
  30% { opacity: 0; -webkit-transform: translateX(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes clock{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: rotate(-180deg); }
  10% { opacity: 1; -ms-transform: translateX(0px); }
  25% { opacity: 1; -ms-transform: translateX(0px); }
  30% { opacity: 0; -ms-transform: translateX(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

/*Pop Effect*/
.popEffect{
  display: inline;
  text-indent: 8px;
}
.popEffect span{
  animation: pop 12.5s linear infinite 0s;
  -ms-animation: pop 12.5s linear infinite 0s;
  -webkit-animation: pop 12.5s linear infinite 0s;
  color: #00abe9;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.popEffect span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.popEffect span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.popEffect span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.popEffect span:nth-child(5){
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

/*Pop Effect Animation*/
@-moz-keyframes pop{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: rotate(0deg) scale(0.10) skew(0deg) translate(0px); }
  10% { opacity: 1; -moz-transform: translateY(0px); }
  25% { opacity: 1; -moz-transform: translateY(0px); }
  30% { opacity: 0; -moz-transform: translateY(0px); }
  80% { opacity: 0; }
  100% { opacity: 0;}
}
@-webkit-keyframes pop{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform: rotate(0deg) scale(0.10) skew(0deg) translate(0px);}
  10% { opacity: 1; -webkit-transform: translateY(0px); }
  25% { opacity: 1; -webkit-transform: translateY(0px); }
  30% { opacity: 0; -webkit-transform: translateY(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes pop{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: rotate(0deg) scale(0.10) skew(0deg) translate(0px); }
  10% { opacity: 1; -ms-transform: translateY(0px); }
  25% { opacity: 1; -ms-transform: translateY(0px); }
  30% { opacity: 0; -ms-transform: translateY(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

/*Push Effect*/
.pushEffect{
  display: inline;
  text-indent: 8px;
}
.pushEffect span{
  animation: push 12.5s linear infinite 0s;
  -ms-animation: push 12.5s linear infinite 0s;
  -webkit-animation: push 12.5s linear infinite 0s;
  color: $header-color;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.pushEffect span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.pushEffect span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
.pushEffect span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.pushEffect span:nth-child(5){
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}
.pushEffect span:nth-child(6){
  animation-delay: 12.5s;
  -ms-animation-delay: 12.5s;
  -webkit-animation-delay: 12.5s;
}

/*Push Effect Animation*/
@-moz-keyframes push{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: rotate(0deg) scale(2) skew(0deg) translate(0px); }
  10% { opacity: 1; -moz-transform: translateX(0px); }
  25% { opacity: 1; -moz-transform: translateX(0px); }
  30% { opacity: 0; -moz-transform: translateX(0px); }
  80% { opacity: 0; }
  100% { opacity: 0;}
}
@-webkit-keyframes push{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform:rotate(0deg) scale(2) skew(0deg) translate(0px);}
     10% { opacity: 1; -webkit-transform: translateX(0px); }
  25% { opacity: 1; -webkit-transform: translateX(0px); }
  30% { opacity: 0; -webkit-transform: translateX(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes push{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: rotate(0deg) scale(2) skew(0deg) translate(0px); }
  10% { opacity: 1; -ms-transform: translateX(0px); }
  25% { opacity: 1; -ms-transform: translateX(0px); }
  30% { opacity: 0; -ms-transform: translateX(0px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
