//core corlor pallete
$background-primary: #ffffff; //white
$text-color: #00171f; //grey
$header-color: #003459; //dark blue
$subheader-color: #007ea7; //medium blue
$icon-grey-color: #EAEEEF;; //icon grey

// Secondary color palette
$blue: #2d63a8;
$purple: #BA85FF;
$white: #fff;
$black: #050401;
$grey--dark: #050401;
$grey--light: #EDE8F2;
$white-dark: #fcf8fb;
$orange: #FF593F;
$yellow: #FFD452;
$green: #45b359;
$white: #ffffff;

 $base-border-color: #EDE8F2;
 $secondary-background-color: $grey--light;
 $main--dark-blue: #1a222c;

 $apie--h2text: #345;

