<!DOCTYPE html>
<html class="">

<body>

   {% include head.html %}
   {% include header.html %}
   {% include about.html %}
   {% include footer.html %}

   <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

   <script src="{{ " assets/js/sweet-scroll.min.js " | prepend: site.baseurl }}"></script>
   <script src="{{ " assets/js/particles.js " | prepend: site.baseurl }}"></script>
</body>

</html>
